* {
  font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6,ul,li,p,a {
  margin: 0;
  padding: 0;
}

header .headerWrapper {
  display: flex;
  align-items: center;
  padding-left: 36px;
}

header .icon {
  font-size: 36px;
  color: #f69165;
}

header .icon .fa-envelope {
  font-size: 40px;
}

header .icon i {
  margin-right: 12px;
}

header .info h3 {
  font-size: 22px;
  line-height: 24px;
  color: #363636;
  font-weight: bold;
}

header .info p {
  color: #a0a0a0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.nav_bar {
  background: #00cce1;
}

.nav_bar ul li {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-right: 40px;
}

.nav_bar ul li a {
  color: #ffffff;
  transition: 0.4s ease-in-out;
  position: relative;
  padding: 0 !important;
}

.nav_bar ul li a:hover {
  color: #f69165;
}

.nav_bar a::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  bottom: -30px;
  height: 3px;
  background-color: #f69165;
  width: 0;
  transition: 0.4s all ease-in-out;
}

.nav_bar a:hover:before {
  width: 100%;
  left: 0;
}

.nav_bar .path {
  background: #f69165;
  color: #ffffff;
  border-radius: 0;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  margin: 0;
  padding: 0;
  transition: 0.4s ease-in-out;
}

.nav_bar .path:hover {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.pathWrapper {
  transition: 0.4s all ease-in-out;
}
.nav_bar .path:hover .pathWrapper {
  font-weight: bold;
}

.nav_bar .path i {
  margin-right: 10px;
  font-size: 20px;
  line-height: 24px;
}

.nav_bar .path p {
  font-size: 20px;

  line-height: 24px;

  text-transform: uppercase;
}

.nav_bar .pathWrapper {
  padding: 27px 32px;
}

.banner {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 78vh;
}

.banner .bWrapper {
  min-height: 78vh;
  align-items: center;
}

.banner .img {
  position: absolute;
  bottom: 0;
  margin-left: 2rem;
  width: 44%;
}

.banner .two .img {
  width: 30%;
  margin-left: 6rem;
}

.banner h3 {
  background: #00cce1;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  padding: 6px 26px;
  line-height: 48px;
}

.banner .two h3 {
  background: none;
  color: #00cce1;
  font-size: 48px;
  line-height: 48px;
  padding: 0;
  font-weight: 900;
}

.banner h1 {
  background: #f69165;
  display: inline-block;
  color: #ffffff;
  padding: 11px 26px;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px 0 20px;
  line-height: 48px;
}

.banner .two h1 {
  background: none;
  color: #f69165;
  padding: 0;
  font-size: 72px;
  line-height: 48px;
  font-weight: 900;
  padding: 27px 0;
  margin: 0;
}

.banner p {
  font-size: 18px;
  color: #636363;
  line-height: 30px;
  margin-bottom: 44px;
  font-weight: 500;
}

.banner .bt {
  background: #f69165;
  color: #ffffff;
  border: none;
  border-radius: 0;
  line-height: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.2s ease-in-out;
}

.banner .bt:hover {
  color: #f69165;
  background: transparent;
  box-shadow: #f69165 0px 0px 0px 2px;
}

.banner .book {
  background: #00cce1;
  margin-left: 20px;
  transition: 0.4s all ease-in-out;
}

.banner .book:hover {
  color: #00cce1;
  background: transparent;
  box-shadow: #00cce1 0px 0px 0px 2px;
}
.banner .owl-carousel .owl-nav .owl-prev {
  top: 50%;
  transform: translateY(-50%);
  background: #00cce1;
  width: 42px;
  height: 42px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.banner .owl-carousel .owl-nav .owl-next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #f69165;
  width: 42px;
  height: 42px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.banner .owl-carousel .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}
.banner .owl-carousel .owl-dots span {
  background: #abaeb4;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}
.banner .owl-carousel .owl-dot.active span {
  background: #f69165;
}
.agency {
  background-image: url(../images/doctors.png);
  background-repeat: no-repeat;
  background-position: 4.625rem bottom;
  background-size: 38%;
  min-height: 82vh;
  position: relative;
}
.agency .aWrapper {
  min-height: 82vh;
  align-items: center;
}
.agency h1 {
  font-size: 36px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.agency p {
  line-height: 24px;
  font-weight: 500;
}
.agency .header {
  margin-bottom: 56px;
}
.agency h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
  color: #363636;
}
.agency .box p {
  font-weight: 400;
}
.agency .box .icon {
  width: 40px;
  height: 48px;
  margin-bottom: 12px;
}
.doctors {
  background-color: #f9f9f9;
  padding-bottom: 120px;
}
.doctors h1 {
  font-size: 36px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #363636;
}
.doctors .img {
  width: 60px;
  height: 22px;
  margin: 0 auto 20px;
  padding: 0;
}
.doctors p {
  line-height: 24px;
  color: #707070;
  font-weight: 500;
  text-align: center;
}
.doctors .header {
  padding: 125px 0 56px;
}
.doctors .item {
  position: relative;
  margin-bottom: 30px;
}
.doctors .item::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 0%;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.doctors .cards:hover .item::before {
  width: 100%;
  height: 100%;
}

.doctors .imageIcon {
  display: flex;
  justify-content: space-between;
  width: 148px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.doctors .cards:hover .imageIcon {
  opacity: 1;
}

.doctors .imageIcon button {
  width: 40px;
  height: 40px;
  padding: 8px 10px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: 0.4s all ease-in-out;
}
.doctors .imageIcon button i {
  transition: 0.4s all ease-in-out;
}
.doctors .imageIcon button:hover i {
  color: #ffffff;
}
.doctors .imageIcon button:hover {
  background-color: #f69165;
  border: 2px solid #f69165;
}
.doctors .cards {
  background-color: #ffffff;
  border-bottom: 4px solid #00cce1;
  transition: 0.4s all ease-in-out;
}
.doctors .cards:hover {
  border-bottom-color: #f69165;
}
.doctors .cards a {
  text-decoration: none;
}
.doctors .cards h2 {
  font-size: 22px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #363636;
  margin-bottom: 10px;
  transition: 0.4s all ease-in-out;
}
.doctors .cards:hover h2 {
  color: #f69165;
}
.doctors .cards p {
  line-height: 20px;
  font-weight: 400;
}
.services {
  padding-bottom: 120px;
}
.services .header h1 {
  font-size: 36px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #363636;
}
.services .header .img {
  width: 60px;
  height: 22px;
  margin: 0 auto 20px;
  padding: 0;
}
.services .header p {
  line-height: 24px;
  color: #707070;
  font-weight: 500;
  text-align: center;
}
.services .header {
  padding: 125px 0 56px;
}
.services .cards {
  padding: 32px;
  border: 4px solid #ebebeb;
  transition: 0.4s all ease-in-out;
}
.services .cards .icon {
  width: 34px;
  height: 44px;
  margin-right: 20px;
}
.services .cards:hover {
  border-color: #f69165;
  box-shadow: #f69165 0px 5px 15px 0px;
}
.services .cards .top {
  margin-bottom: 20px;
}
.services .cards h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  color: #363636;
  transition: 0.4s all ease-in-out;
}
.services .cards:hover h2 {
  color: #f69165;
}
.services .cards p {
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #707070;
}
.services .cards a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  font-weight: bold;
  transition: 0.4s all ease-in-out;
}
.services .cards:hover a {
  color: #f69165;
  display: flex;
}
.price {
  background-color: #f9f9f9;
  padding-bottom: 125px;
}
.price .header h1 {
  font-size: 36px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #363636;
}
.price .header .img {
  width: 60px;
  height: 22px;
  padding: 0;
  margin: 0 auto 20px;
}
.price .header p {
  line-height: 24px;
  color: #707070;
  font-weight: 500;
  text-align: center;
}
.price .header {
  padding: 125px 0 56px;
}
.price .cards {
  background-color: #ffffff;
  padding: 6px;
  transition: 0.4s all ease-in-out;
}
.price .cards:hover {
  background-color: #f69165;
  transform: scale(1.05);
}
.price .cards:hover .mid h1,
.mid h2 {
  color: #ffffff;
}
.price .cards:hover .mid h2 {
  color: #ffffff;
}
.price .cards:hover .top h1 {
  color: #f69165;
}
.price .cards .top {
  background-color: #f9f9f9;
  padding: 34px 82px 27px;
}
.price .cards .top h1 {
  font-size: 30px;
  font-weight: bold;
  color: #00cce1;
  margin-bottom: 16px;
  line-height: 24px;
  transition: 0.4s all ease-in-out;
}
.price .cards .top p {
  color: #707070;
  line-height: 24px;
}
.price .cards .mid h1 {
  font-size: 48px;
  color: #00cce1;
  font-weight: 900;
  transition: 0.4s all ease-in-out;
}
.price .cards .mid h2 {
  font-size: 14px;
  color: #00cce1;
  font-weight: 900;
  transition: 0.4s all ease-in-out;
}
.price .cards .mid {
  padding: 20px 0;
}
.price .cards .bottom {
  background-color: #f9f9f9;
  padding-bottom: 32px;
}
.price .cards .bottom .para {
  padding: 40px 0;
}
.price .cards .bottom .para p {
  font-weight: 500;
  line-height: 40px;
  color: #707070;
}
.price .cards .bottom button {
  background-color: #00cce1;
  font-weight: bold;
  line-height: normal;
  padding: 14px 34px;
  border-radius: 2px;
  border: none;
  transition: 0.4s all ease-in-out;
}
.price .cards .bottom button:hover {
  background-color: #f69165;
}
.client {
  padding-bottom: 120px;
  background-image: url(../images/bg-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.client::before {
  content: "";
  position: absolute;
  background-color: #000000;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}
.client .header h1 {
  font-size: 36px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}
.client .header .img {
  width: 60px;
  height: 22px;
  margin: 0 auto 20px;
  padding: 0;
}
.client .header p {
  line-height: 24px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.client .header {
  padding: 100px 0 56px;
}
.client .client-carousel {
  padding: 0px 100px;
}
.client .client-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.client .owl-carousel .owl-nav {
  display: block !important;
}
.client .owl-carousel .owl-nav .owl-prev {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #00cce1;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.client .owl-carousel .owl-nav .owl-next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #f69165;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.contact {
  padding: 100px 0 60px;
  background-image: url(../images/bg-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.contact .box .head {
  margin-bottom: 48px;
  color: #ffffff;
}
.contact p {
  font-weight: 500;
  line-height: 24px;
  color: #b4b4b4;
}
.contact .box .pOne {
  margin-bottom: 34px;
}
.contact .box .pThree {
  margin-bottom: 30px;
}

.contact .infoWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact .infoWrapper .icon {
  font-size: 34px;
  color: #00cce1;
}
.contact .infoWrapper .icon.one {
  margin-right: 9px;
}
.contact .infoWrapper .icon .fa-envelope {
  font-size: 34px;
}

.contact .infoWrapper .icon i {
  margin-right: 20px;
}

.contact .infoWrapper .info h3 {
  font-size: 22px;
  line-height: 24px;
  color: #363636;
  font-weight: bold;
}

.contact .infoWrapper.info p {
  color: #a0a0a0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.contact .box .poster .postWrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.contact .box .poster .postWrapper .imgbox {
  margin-right: 20px;
}

.contact .box .poster a {
  text-decoration: none;
}
.contact .box .poster h3 {
  font-size: 16px;
  line-height: 22px;
  color: #b4b4b4;
  font-weight: 500;
  background-position: bottom left;
  background-size: 0% 2px;
  background-image: linear-gradient(#f69165, #f69165);
  padding-bottom: 2px;
  display: inline;
  background-repeat: no-repeat;
  transition: 0.4s all ease-in-out;
}
.contact .box .poster h3:hover {
  background-size: 100% 2px;
}
.contact .box .poster p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #777777;
  font-weight: 500;
}
.contact .box .socials ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: auto;
  padding: 0;
}
.contact .box .socials ul .follow {
  margin-right: 24px;
}
.contact .box .socials ul li {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  color: #ffffff;
}

.contact .box .socials ul li a {
  text-decoration: none;
}
.contact .box .socials ul li a i {
  position: absolute;
  font-size: 18px;
}
.contact .box .iconBox {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  color: #ffffff;
  border-radius: 2px;
  transition: 0.4s all ease-in-out;
}

.contact .box .iconBox:hover {
  background-color: #f69165;
}
.contact .box form {
  display: flex;
  margin-bottom: 24px;
  position: relative;
}
.contact .box form input {
  background-color: #1b1b1b;
  border-radius: 0px;
  border: 2px ridge #252525;
  color: #ffffff;
  height: 50px;
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.contact .box form input:focus {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  border: 2px solid #f69165;
  box-shadow: none;
}
.contact .box form input::placeholder {
  color: #3d3d3d;
}
.contact .box form .btn-sign {
  color: #ffffff;
  border: 2px solid #f69165;
  border-radius: 0px;
  background-color: #f69165;
  position: absolute;
  right: 0;
  width: 30%;
  font-weight: 900;
  line-height: 24px;
  transition: 0.4s all ease-in-out;
}
.contact .box form .btn-sign:hover {
  background-color: transparent;
  color: #f69165;
}
.footer {
  background-color: #161616;
  padding: 33px 0;
}
.footer p {
  line-height: 24px;
  color: #777777;
  font-weight: 500;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #00cce1;
}
